<div class="margin-bottom-md">
  <h2 class="margin-top-lg">Email List</h2>
  <label for="filters" class="col-form-label-sm">Filter by</label>
  <input type="text" class="form-control" [(ngModel)]="extra" placeholder="Filter by">
</div>
<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let email of emailList | filter: extra, index as i">
      <th>{{email.from}}</th>
      <td>{{email.to}}</td>
      <td>{{email.subject}}</td>
      <td>
        <div class="text-right">
          <button type="button" class="btn btn-sm btn-outline-danger margin-right-xs" (click)="removeEmail(email)">Delete</button>
          <button type="button" class="btn btn-sm btn-primary" (click)="viewEmail(i)">View email</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
