<div class="margin-top-lg margin-bottom-sm">
  <a [routerLink]="['/']">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
    <span>Back</span>
  </a>
</div>
<h2 class="margin-bottom-md">Compose Email</h2>
<form #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm)" class="email-form">
  <div class="form-group">
    <label for="sender" class="col-form-label-sm">From</label>
    <input type="text" class="form-control" required
              [(ngModel)]="email.from"
              name="from"
              #from="ngModel"
              id="from"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [ngClass]="from.valid || from.pristine ? '':'is-invalid'">

    <div class="invalid-feedback" *ngIf="from.touched && !from.valid">
      <div *ngIf="from.errors.required">Sender is required.</div>
      <div *ngIf="from.errors.pattern">Email does not match the required pattern.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="receiver" class="col-form-label-sm">To</label>
    <input type="text" class="form-control"
              required
              [(ngModel)]="email.to"
              name="sto"
              #sto=ngModel
              id="receiver"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [ngClass]="sto.valid || sto.pristine ? '':'is-invalid'">

    <div class="invalid-feedback" *ngIf="sto.touched && !sto.valid">
      <div *ngIf="sto.errors.required">Receiver is required.</div>
      <div *ngIf="sto.errors.pattern">Email does not match the required pattern.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="subject" class="col-form-label-sm">Subject</label>
    <input type="text" class="form-control"
              required
              [(ngModel)]="email.subject"
              name="subject"
              #ssubject="ngModel"
              id="subject"
              [ngClass]="ssubject.valid || ssubject.pristine  ? '': 'is-invalid'">

    <div class="invalid-feedback" *ngIf="ssubject.touched && !ssubject.valid">
      <div *ngIf="ssubject.errors.required">Email cannot be sent without a subject.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="message" class="col-form-label-sm">Message(optional)</label>
    <textarea id="message" cols="30" rows="10" class="form-control"
              [(ngModel)]="email.body"
              name="message"
              #message="ngModel">
    </textarea>
  </div>
  <div class="text-right">
    <button  class="btn btn-light spacing-right" type="button" (click)="clearEmail()">Clear email</button>
    <button class="btn btn-primary" type="submit" [disabled]="!emailForm.form.valid">Send now</button>
  </div>
</form>
